<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>

    <header>
        <%- include('../partials/header') %>
    </header>

    <div class="container">

        <h1>API Pull</h1>

        <p>This is just to test using Node to get some test data from an API having to get a token first.</p>

        <p>API URL: <span class="font-weight-bold"><%=api_url%></span></p>

        <div class="card shadow">
            <div class="card-header">
                Response
            </div>
            <div class="card-body">
                <% api_data.forEach((p, index) => { %>

                    <div class="row">
                        <div class="col-md-12 mb-1"><span class="font-weight-bold"><%=p.title%></span></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <img src="https://wnmprojects.co.uk/img/portfolio/<%=p.image%>" class="img-fluid  <%=((index & 1) == 0 ? 'float-right ml-2' : 'float-left mr-2')%> mb-2 shadow" style="max-width: 160px;">
                            <%-p.info%>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-2">
                                <a href="<%=p.url%>" target="_blank" class="btn btn-outline-secondary btn-sm float-right">More<i class="fa fa-chevron-circle-right ml-1"></i></a>
                            </div>
                        </div>
                    </div>

                    <hr />

                <% }); %>

            </div>
        </div>

        <hr />

        <div class="card shadow">
            <div class="card-header">
                API Token
            </div>
            <div class="card-body">
                <%=api_token%>
            </div>
        </div>

    </div>

    <%- include('../partials/footer') %>

</body>
</html>
