<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>

    <header>
        <%- include('../partials/header') %>
    </header>

    <div class="main-outer-div">

        <div class="container">

            <h1>MongoDB - Details</h1>

            <% if(sqlresult) { %>

                <div class="card shadow">

                    <div class="card-header">
                        <%=sqlresult.Name%>
                        <div class="float-right">
                            <a href="/mongodb-modify/<%=sqlresult._id%>" class="btn btn-outline-warning btn-smaller"><i class="fa fa-edit"></i></a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-21 col-sm-12 col-12">
                                <img src="<%=sqlresult.Image%>" class="img-fluid shadow float-right ml-2 mb-2 mongo-details-img" />
                                <p class="hidden-xs">Email: <%=sqlresult.Email%></p>
                                <p class="hidden-xs">Job Title: <%=sqlresult.JobTitle%></p>
                                <p class="hidden-xs">Colour: <%=sqlresult.Colour%></p>
                                <p class="hidden-xs">Shape: <%=sqlresult.Shape%></p>
                                <p class="hidden-xs">Summary: <%=sqlresult.Summary%></p>
                            </div>
                        </div>
                    </div>

                </div>

            <% } else { %>

                <span class="text-center mb-5">Nothing found ..... <i class="fa fa-frown"></i></span>

            <% } %>

            <br />
            <a href="/mongodb" class="text-primary">Back to list</a>

        </div>

    </div>

    <%- include('../partials/footer') %>

</body>
</html>
